  
            <!-- <div class="modal-header">
    <h5 class="modal-title text-lg-left">Select a date</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body" id="datepicker" >
    <input class='form-control font-theme' id="datepicker" type="date">
    <div id="result" class="mb-2"></div>
    <div id="FromCalendar" class="mb-2"></div>
</div> -->


<div class="modal-header">
    <h5 class="modal-title text-lg-left">Select a date</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body" id="datepicker" >
          <div class="input-group dates" id="datepicker">
            <input class="form-control font-theme" (click)="OnselectedDate($event)" id="date" />
          </div>
</div>


