<p>make-payment-modal works!</p>
  <!-- #region screen6 MakePayment -->
  <!-- <div id="MakePayment" style="display:none" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-cutsom-modal epro-datetime-modal">
        <div class="modal-content ffily">
            <div class="modal-header">
                <div class="row w-100 flex-row-reverse align-items-center mx-0">
                    <div class="col-xl-4 text-right pr-0 epro-logo-section">
                        <img src="~/data/ePro_Connect_logo_image.png"
                             class="epro-logo-dark" />
                    </div>
                    <div class="col-xl-8 text-center mt-3 pl-0">
                        <h5 class="modal-title text-lg-left">Reservation Fee</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body epro-otp-modal-body">
                <img src="~/data/Group 34474.svg" class="epro-otp-image mb-3" />

                <h4 class="epro-appoint-details">
                    Reservation fee: <span class="epro-highlight-text-orange font-theme">${{confirmScheduleResponse.inquiryDetail.payment.paymentAmount}}</span>
                </h4>
                <div class="row">
                    <div class="col-lg-9 mx-auto pop-up-para">
                        {{confirmScheduleResponse.inquiryDetail.payment.paymentExplanation}}
                        <button type="button" class="butNext btn btn-orange screen-sixth btn-theme mt-4 mb-2"
                                ng-click="MakePayment(confirmScheduleResponse.inquiryDetail.payment.paymentAmount)">
                            PAY
                            USING CREDIT CARD
                        </button>
                        <a>
                            <img src="~/data/all.png" class="apple-pay" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- #endregion screen6 MakePayment -->
<!-- @*********************************************************************************************************@ -->


  
<div class="modal-header">
    <div class="row w-100 flex-row-reverse align-items-center mx-0">
        <div class="col-xl-4 text-right pr-0 epro-logo-section">
            <img src="assets/images/ePro_Connect_logo_image.png"
                 class="epro-logo-dark" />
        </div>
        <div class="col-xl-8 text-center mt-3 pl-0">
            <h5 class="modal-title text-lg-left">Reservation Fee</h5>
        </div>
    </div>
  
</div>
<div class="modal-body scrollable-modal-body">
    <img src="assets/images/Group 34474.svg" class="epro-otp-image mb-3" />

                <h4 class="epro-appoint-details">
                    Reservation fee: 
                    <!-- <span class="epro-highlight-text-orange font-theme">${{confirmScheduleResponse.inquiryDetail.payment.paymentAmount}}</span> -->
                </h4>
                <div class="row">
                    <div class="col-lg-9 mx-auto pop-up-para">
                        <!-- {{confirmScheduleResponse.inquiryDetail.payment.paymentExplanation}} -->
                        <button type="button" class="butNext btn btn-orange screen-sixth btn-theme mt-4 mb-2"
                                ng-click="MakePayment(confirmScheduleResponse.inquiryDetail.payment.paymentAmount)"
                                (click) = 'nextScreen()'>
                            PAY
                            USING CREDIT CARD
                        </button>
                        <a>
                            <img src="assets/images/all.png" class="apple-pay" />
                        </a>

                    </div>
                </div>
</div>